Flask==1.1.2
Flask-SQLAlchemy==2.5.1
Flask-Cors==4.0.1
Flask-RESTful==0.3.8
Flask-Migrate==4.1.0
Flask-HTTPAuth==4.2.0
gunicorn==22.0.0
psycopg2-binary==2.9.10
SQLAlchemy==1.4.10
python-dotenv==0.21.1
cloudinary